body{
    display: flex;
    align-items: center; 
    justify-content: center;
    text-align: center;
    font-family: arial,sans-serif;
    text-align: center;
}

#overview{
    border-radius: 5px;
    background-color: rgb(160, 160, 160);
    
}

#overview h1{
    color: rgb(0, 0, 0);
    font-size: 40px;
    padding: 10px;
}

.name{
    color: rgb(0, 0, 0);
    padding: 15px;
    font-size: 32px;
    font-weight: bold;
}

